.category1-container {
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
    border: 2px solid red;
    padding: 40px;
}

.image-icon {
    border-radius: 8px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.10) 0%, rgba(152, 115, 255, 0.10) 100%);
    padding: 15px;
}