.features-container {
    margin: 20px 50px;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.features-job-title {
    color: var(--Dark-01, #1A1919);
    text-align: center;
    font-size: 48px;
    font-weight: 800;
}

.features-job-description {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}

.btn-see-more {
    border-radius: 8px;
    background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
    border: none;
    padding: 19px 28px;
}
.text-center{
    text-align: center;
}
.hidden{
    display: none;
}