.all-footer {
    background: var(--Dark-01, #1A1919);
   padding: 80px;
    margin-top: 50px;
}

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 100px;
}

.contact-info {
    display: flex;
    width: 75px;
    height: 75px;
}

.footer a {
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.service,
.company,
.contact,
.legal,
.applied-job-footer-title {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.footer a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.applied-job-footer-description {
    width: 300px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.facebook {
    color: #4267B2;
    font-size: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 100%;
}

.twitter {
    margin-left: 20px;
    color: #4267B2;
    font-size: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 100%;
}

.instagram {
    margin-left: 20px;
    color: #f58529;
    background-color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 100%;
    display: inline-block;
}

.line-break {
    width: 100%;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.20) 0%, rgba(152, 115, 255, 0.20) 100%);


}

.all-rights-container {
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    justify-content: space-between;
}